@use 'header';
@use 'footer';
@import 'presets';

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    /* Show scrollbars */
    scrollbar-width: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    @include block ($bluegreen);
    color: white;
    font-size: 100%;
}

#main {
    @include flexcolumn();
}

.title_block {

    @include block ($white);
    background-image: url("https://wallpapercave.com/wp/wp6751200.jpg");
    color: $white;

    h1 {
        font-size: 300%;
        font-weight: 850;
    }
}

.products {

    @include screen-min(576px) {
        @include flex
    }

    @include block ($white);
    color: $black;

    h1 {
        font-size: 200%;
        font-weight: 750;
    }

    img {
        height: 100px;
    }
}

.aboutUs {
    @include block ($black);
    color: white;

    h1 {
        font-size: 200%;
        font-weight: 750;
    }
}