nav-bar img {
  height: 4rem;
  width: 4rem;
}

header {
  z-index: 999;
}

nav {
  width: 100vw;
}

nav-web {
  display: none;
}

nav-bar {
  position: fixed;
  width: 100%;
  height: 4rem;
}
nav-bar * {
  box-sizing: inherit;
}
nav-bar *:before, nav-bar *:after {
  box-sizing: inherit;
}
.plsWork {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background-color: #fff;
}

hamburger-content {
  width: 100vw;
  height: calc(100vh - 4rem);
  position: absolute;
  bottom: 100%;
  overflow-y: scroll;
  background-color: #fff;
}
hamburger-content #mobile-menu {
  margin: 0 1.5rem;
}
hamburger-content #mobile-menu li {
  display: block;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(20, 20, 20);
  font-size: 2.5rem;
}
hamburger-content div {
  position: relative;
  margin: 0 1.5rem 1.5rem 1.5rem;
}
hamburger-content div img {
  width: 100%;
  height: 100%;
}
hamburger-content div span {
  width: 100%;
  height: 3rem;
  position: absolute;
  left: 0;
  bottom: 1.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.6);
  color: gold;
}

.toggle {
  align-self: center;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.toggle input {
  display: none;
}
.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}
.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
}
.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.toggle input + div div span:first-child {
  top: 0;
}
.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
  top: 0;
}
.toggle input + div div span:last-child {
  bottom: 0;
}
.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
  bottom: 0;
}
.toggle input + div div span:before, .toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: rgb(20, 20, 20);
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}
.toggle input + div div span:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}
.toggle input + div div span:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}
.toggle input + div svg {
  fill: none;
  stroke: rgb(20, 20, 20);
  stroke-width: 3px;
  width: 2rem;
  height: 2.2rem;
  stroke-linecap: round;
  position: absolute;
  left: 80%;
  top: 80%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 11 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}
.toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
}
.toggle input:checked + div div {
  transform: rotate(90deg);
}
.toggle input:checked + div div span:before, .toggle input:checked + div div span:after {
  background: rgb(20, 20, 20);
}
.toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: rgb(20, 20, 20);
}
.toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
}

.slideIn {
  animation: slideIn 0.5s linear forwards;
}

.slideOut {
  animation: slideOut 0.5s linear forwards;
}

@keyframes slideIn {
  from {
    bottom: 100%;
  }
  to {
    bottom: calc(-100vh + 4rem);
  }
}
@keyframes slideOut {
  from {
    bottom: calc(-100vh + 4rem);
  }
  to {
    bottom: 100%;
  }
}
footer img {
  height: 4rem;
  width: 4rem;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
  /* Show scrollbars */
  scrollbar-width: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  max-width: 70%;
  background-color: rgb(63, 129, 125);
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 10%;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_block {
  max-width: 70%;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 10%;
  margin-top: 20px;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp6751200.jpg");
  color: #fff;
}
.title_block h1 {
  font-size: 300%;
  font-weight: 850;
}

.products {
  max-width: 70%;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 10%;
  margin-top: 20px;
  text-align: center;
  color: rgb(20, 20, 20);
}
@media (min-width: 576px) {
  .products {
    display: flex;
    justify-content: space-between;
  }
}
.products h1 {
  font-size: 200%;
  font-weight: 750;
}
.products img {
  height: 100px;
}

.aboutUs {
  max-width: 70%;
  background-color: rgb(20, 20, 20);
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 10%;
  margin-top: 20px;
  text-align: center;
  color: white;
}
.aboutUs h1 {
  font-size: 200%;
  font-weight: 750;
}

/*# sourceMappingURL=indexView.css.map */
